.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.not-found-img {
  width: 200px;
  height: auto;
  max-width: 50%;
}

